.slide {
  width: 90%; /* Adjust percentage based on your preference */
  max-width: 1920px; /* Set maximum width to maintain readability on larger screens */
  padding-top: 53.333%; /* (height / width) * 100%, maintains 16:9 aspect ratio */
  position: relative;
  border: 2px solid #ccc;
  margin: 0 auto;
  display: flex;
}

.slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-content {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
}

.slide-main-final {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.half-1 {
  background-color: #717cff;
}
.half-2 {
  background-color: white;
}

.half-1,
.half-2 {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.half-vertical-1,
.half-vertical-2 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header-blue {
  margin-left: 3%;
  margin-top: 3%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  height: 15%;
  top: 0;
}

.footer-blue {
  position: absolute;
  background-color: #717cff;
  width: 100%;
  height: 5%;
  bottom: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.background-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.background-content-detail {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.ball-white {
  position: absolute;
  background-color: white;
  border: 0px solid #ccc;
  border-radius: 50%;
  width: 30vw; /* 30% of the viewport width */
  height: 30vw; /* 30% of the viewport width */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
}

.ball-skyblue {
  position: absolute;
  background-color: #eeefff;
  border: 0px solid #ccc;
  border-radius: 50%;
  width: 30vw; /* 30% of the viewport width */
  height: 30vw; /* 30% of the viewport width */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
}

.ball-outer {
  display: flex;
  position: absolute;
  width: 32vw;
  height: 32vw;
  border: 10px solid transparent;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to left, #404ff7 0%, #cdd1f8 50%, #a3abf3 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;

  background-color: transparent;
  transform: translate(-50%, -50%);
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;
  justify-content: center;
}

.index-detail-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.small-ball {
  position: relative;
  background-color: #ced2ff;
  border: 0px solid #ccc;
  border-radius: 50%;
  width: 2.2vw; /* 10% of the viewport width */
  height: 2.2vw; /* 10% of the viewport width */
  margin-bottom: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-content {
  font-family: 'GmarketSansMedium';
}

.dotted-line {
  border-bottom: 0.1vw dashed #d9d9d9;
  width: 30%;
  margin: 0;
}

.vertical-line {
  position: absolute;
  border-left: 0.1vw solid #ced2ff;
  top: 15vw;
  left: 11.5%;

  height: 19svw;
  margin: 0 auto;
}

.left-container {
  margin-left: 5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  top: 20%;
  height: 80%;
  width: 95%;
}

.tmp {
  position: absolute;
  display: flex;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSans';
  /* font-weight: 700; */
  src: url('../font/SpoqaHanSansNeo-Bold.eot') format('embedded-opentype'),
    url('../font/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #717cff;
  transition-duration: 0.7s;
}

.left-container-2 {
  margin-left: 5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 20%;
  height: 80%;
  width: 95%;
}

.button {
  /* display: inline-block; */
  font-family: 'GmarketSansMedium';
  padding: 1vw 1vw;
  font-size: 5vw;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #a3abf3;
  border: none;
  border-radius: 1vw;
  box-shadow: 0 0.5vw #999;
}

.button:hover {
  background-color: #717cff;
}

.button:active {
  background-color: #717cff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
